form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 352px;
  margin-left: auto;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
}

button {
  background-color: rgb(254, 245, 235);
  padding: 5px;
  border-radius: 5px;
}