@font-face {
  font-family: 'Friz Quadrata Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold'), url('../fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
  }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #efe1b9;
  margin: 0;
  color: #4155a1;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
  font-family: "helvetica neue";
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe1b9;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
  font-family: 'Friz Quadrata Std Bold', serif;
  color: #f03a1c;
  font-size: 48px;
}

body > nav {
  grid-area: nav;
  background-color: #4155a1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  font-family: 'Friz Quadrata Std Bold', serif;
  color: #f03a1c;
}

nav > i {
  object-fit: contain;
  margin-right: auto;
  padding: 10px;
  font-size: 26px;
  color: rgb(254, 245, 235);
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px 10px 3px 10px;
  border-radius: 5px;
  color: #f03a1c;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

nav > a:visited {
  color: rgb(254, 245, 235);
}

nav > a:hover {
  color: #4155a1;
  background-color: #c5cbe3;
}

nav > a.active {
  color: #d79823;
}

button {
  background-color: rgb(254, 245, 235);
  padding: 5px;
  border-radius: 5px;
  font-family: "helvetica neue";
}

#logout {
  color: #f03a1c;
}